<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Ads.OpenAds"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlackHacker"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ToolsActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BugActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ExperienceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.CertificationsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.LegalEthicalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ReverseActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.BufferActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.FirewallActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.MetasploitActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.CryptographyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ForensicsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.SocialEngiActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.WirelessSecurityActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.NetworkSecurityActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.WebAppActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ExploitationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.VulnerabilityActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ScanningEnumActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.InformationGathActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.CyberSecurityActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.ProgrammingScriptingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.OperatingSystemActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity.NetworkingFundamentalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4744100396798322~6447936427" />
    </application>

</manifest>